*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(175deg,rgba(75, 73, 209, 1) 0%, rgba(56, 56, 194, 1) 0%, rgba(0, 212, 255, 1) 100%);
    position: relative;
    padding-bottom: 13em;
    min-height: 100vh;
}
#ingresarTareas{
    border-radius: 25% 10%;
    background-color:rgba(255,255,255,0.3); 
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 05);
    box-shadow: 0 4px 8px 0 rgba(235, 158, 158, 0.2), 0 6px 20px 0 rgba(207, 135, 135, 0.19);
    padding: 4em;
    font-size: 20px;
}
#tareas{
    padding: 15em;
    display: grid;
    place-items: center;
}
#ingresarUsuarios{
    border-radius: 25% 10%;
    background-color:rgba(255,255,255,0.3); 
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 05);
    box-shadow: 0 4px 8px 0 rgba(235, 158, 158, 0.2), 0 6px 20px 0 rgba(207, 135, 135, 0.19);
    padding: 4em;
    font-size: 20px;
}
h1{
    color: #efc9af;
    text-align: center;
    font-size: 55px;
    text-shadow: 2px 2px 4px #efc9af;
    font-weight: bold;
}
#titulo{
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: #efc9af;
    font-size: 40px;
    font-weight: bold;
}
h3{
    color: rgba(224, 48, 25, 0.745);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
h4{
    color: #efc9af;
    font-size: 35px;
    font-weight: bold;
}
#encabezado{
    color:blueviolet;
}
.pieT{
    background: rgba(255,255,255,0.3);
    padding: 2em 0;
    color: brown;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.pie1{
    text-align: left;
    font-size: 15px;
}
.pie2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 15px;
}
.pie3 i{
    font-size: 30px;
    letter-spacing: 20px;
}
p{
    color: darkgreen;
}
.parrafo{
    color: darkgreen;
    font-size: 30px;
}
#tabla{
    border-radius: 40px;
    font-size: 1.7em;
}
a{
    font-weight: bold;
    font-size: 20px;
}
.navbar{
    color: #efc9af;
    font-size: 20px;
    justify-content: space-between;
}
img{
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 650px;
    height: 500px;
    filter: brightness(1.2);
}
.link-menu{
    color: #efc9af;
}

@keyframes miAnimacion {
    from { transform: rotate(0deg); }
    to { transform: rotate(9deg); }
  }
  
  .img-animado {
    animation: miAnimacion 5s ease forwards;
  }
  
  .parrafo {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
@media screen and (max-width: 599px){
    h1{
        font-size: 30px;
    }
    #titulo{
        font-size: 70px;
    }
    h2{
        font-size: 19px;
    }
    h4{
        font-size: 25px;
    }
    #ingresarTareas{
        padding: 1em;
        font-size: 14px;
    }
    #ingresarUsuarios{
        padding: 1em;
    }
    #tareas{
        padding: 1em;
        display: grid;
        place-items: center;
    }
    #tabla{
        border-radius: 40px;
        font-size: .6em;
    }
    .pieT{
        padding: 1em 0;
        font-size: 12px;
    }
    a{
        font-size: 15px;
    }
    .navbar{
        font-size: 15px;
    }
    img{
        width: 330px;
        height: 300px;
    }
    .parrafo{
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px){
    h1{
        font-size: 45px;
    }
    #titulo{
        font-size: 85px;
    }
    h2{
        font-size: 32px;
    }
    #ingresarTareas{
        padding: 3em;
        font-size: 18px;
    }
    h4{
        font-size: 30px;
    }
    #tareas{
        padding: 4em;
        display: grid;
        place-items: center;
    }
    #tabla{
        border-radius: 40px;
        font-size: 1.4em;
    }
    .pieT{
        padding: 1em 0;
        font-size: 15px;
    }
    .parrafo{
        font-size: 20px;
    }
}